<!-- <div> -->
  <mat-toolbar id="example-toolbar" [class.example-is-mobile]="isMobile()" container-background-color="green">
    <div>
      <button mat-button class="example-icon" aria-label="Example Icon" (click)="navigate('commands')">Commands</button>
      <button mat-button class="example-icon" aria-label="Example Icon" (click)="navigate('live-notifications')">Notifications</button>
    </div>
    <!-- <span class="spacer"></span> -->
     <div>
      <button mat-button (click)="navigate('')">Coup De Bot</button>
     </div>
     <!-- <span class="spacer"></span> -->
     <div>
      <button mat-icon-button class="logout" (click)="logout()">
        <mat-icon>logout</mat-icon>
      </button>
     </div>
  </mat-toolbar>
<!-- </div> -->
