mat-toolbar#example-toolbar.mat-toolbar.mat-toolbar-single-row {
  background-color: green;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


div.toolbar-contents {
  display: flex;
  align-items: center;
}

.sidenav-container {
  height: 100px;
}